<div id="quote">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        Create Sale Purchase Quote 2/1    
        <div class="pull-right">
          <a ui-sref="home"><button class="btn btn-info btn-xs"><i class="fa fa-home"></i></button></a>
          <button type="button" class="btn btn-danger btn-xs" ng-click="nextPanel(quoteForm.$valid, quoteForm)"><i class="fa fa-arrow-right"></i></button>
        </div>
      </h5>
    </div>
    <form name="quoteForm" id="quoteForm" novalidate>
      <div class="panel-body">
        <div class="form-body">
          <div class="quote-section_box">
            <div class="col-md-6">
                <h5 class="title-lbl">Source Details:</h5>
                <div class="form-group">
                  <label>Branch*</label>
                  <select class="form-control" ng-model="quoteData.branch_name" name="branch_name" uib-popover="Please select your Branch."  popover-trigger="'focus'" ng-class="{'has-error' : (!quoteForm.branch_name.$pristine && quoteForm.branch_name.$error.required) || (quoteForm.$submitted && quoteForm.branch_name.$error.required)}" camelcase required="">
                      <option value="">Select</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <!-- <option ng-repeat="country in countryData" value="{{country.country_id}}">{{country.country_name}}</option> -->
                  </select>
                  <span class="input-error-label" ng-show="(!quoteForm.branch_name.$pristine && quoteForm.branch_name.$error.required) || (quoteForm.$submitted && quoteForm.branch_name.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="title-lbl">&nbsp;</h5>
                <div class="form-group">
                  <label>Quotation Id*</label>
                  <input type="text" class="form-control" ng-model ="quoteData.quotation_id" name="quotation_id" placeholder="Quotation Id" ng-disabled="true">
                </div>
            </div>
          </div>
          <div class="table_overflow_div">
            <div class="quote-section_box titlee">
              <div class="col-md-12">
                <h5 class="title-lbl">Applicant Details:</h5>
              </div>
              <div class="head_line">
                <table class="table name_table">
                  <thead>
                    <th>&nbsp;</th>
                    <th>Title*</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th class="blank_td dont_remove"></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model='applicant1'> Applicant 1
                                </label>
                            </div>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <select class="form-control" ng-model="quoteData.applicant1_title" name="applicant1_title" ng-disabled="!applicant1"  ng-class="{'has-error' : (!quoteForm.applicant1_title.$pristine && quoteForm.applicant1_title.$error.required) || (quoteForm.$submitted && quoteForm.applicant1_title.$error.required)}" camelcase required="">
                                <option value="">Select</option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Miss.">Miss.</option>
                            </select>
                            <span class="input-error-label" ng-show="(!quoteForm.applicant1_title.$pristine && quoteForm.applicant1_title.$error.required) || (quoteForm.$submitted && quoteForm.applicant1_title.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" ng-model ="quoteData.applicant1_first_name" name="applicant1_first_name" placeholder="Enter First Name" ng-disabled="!applicant1" ng-class="{'has-error' : (!quoteForm.applicant1_first_name.$pristine && quoteForm.applicant1_first_name.$error.required) || (quoteForm.$submitted && quoteForm.applicant1_first_name.$error.required)}" camelcase required >
                          <span class="input-error-label" ng-show="(!quoteForm.applicant1_first_name.$pristine && quoteForm.applicant1_first_name.$error.required) || (quoteForm.$submitted && quoteForm.applicant1_first_name.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" ng-model ="quoteData.applicant1_last_name" name="applicant1_last_name" placeholder="Enter Last Name" ng-disabled="!applicant1" ng-class="{'has-error' : (!quoteForm.applicant1_last_name.$pristine && quoteForm.applicant1_last_name.$error.required) || (quoteForm.$submitted && quoteForm.applicant1_last_name.$error.required)}" camelcase required >
                          <span class="input-error-label" ng-show="(!quoteForm.applicant1_last_name.$pristine && quoteForm.applicant1_last_name.$error.required) || (quoteForm.$submitted && quoteForm.applicant1_last_name.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
                        </div>
                      </td>
                      <td class="blank_td dont_remove"></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model='applicant2'>Applicant 2
                                </label>
                            </div>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <select class="form-control" ng-model="quoteData.applicant2_title" name="title" uib-popover="Please select title."  popover-trigger="'focus'" ng-disabled="!applicant2" camelcase>
                                <option value="">Select</option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Miss.">Miss.</option>
                            </select>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model ="quoteData.applicant2_first_name" name="first_name" placeholder="Enter First Name" ng-disabled="!applicant2">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model ="quoteData.applicant2_last_name" name="last_name" placeholder="Enter Last Name" ng-disabled="!applicant2">
                        </div>
                      </td>
                      <td class="blank_td dont_remove"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="quote-section_box">
            <div class="col-md-6">
              <div class="form-group">
                <h5 class="title-lbl">Property Details (Sale) England and Waves Only:</h5>
                <div class="form-group">
                  <label>Sale Price</label>
                  <input type="text" class="form-control" ng-model ="quoteData.sale_price" name="sale_price" placeholder="Enter property price" ng-class="{'has-error' : (!quoteForm.sale_price.$pristine && quoteForm.sale_price.$error.required) || (quoteForm.$submitted && quoteForm.sale_price.$error.required)}" rs-only required >
                  <span class="input-error-label" ng-show="(!quoteForm.sale_price.$pristine && quoteForm.sale_price.$error.required) || (quoteForm.$submitted && quoteForm.sale_price.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
                </div>
                <div class="form-group">
                    <label>Is Property Address Known?</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model='sale_value' value="true" ng-click="isSaleProperty = false"> Yes
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" ng-model='sale_value' value="false" ng-click="isSaleProperty = true"> No
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" ng-model ="sale_postcode" name="sale_postcode" ng-disabled="isSaleProperty" placeholder="Enter postcode">
                    <button type="button" class="btn btn-primary" ng-click="findProperty(sale_postcode)" ng-disabled="isSaleProperty">Find</button>
                </div>
              </div>
              <div class="form-group">
                <iframe style="margin-top: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.7457248012706!2d75.87380961453897!3d22.700507785117136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fce2c575d4e9%3A0xd86a0bab30a34f7!2sSixth+Sense+IT+Solutions!5e0!3m2!1sen!2sin!4v1512550754686" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="title-lbl">&nbsp;</h5>
              <div class="form-group">
                  <label>Please Enter Numbers only (No Comma or $ sign)</label>
              </div>
              <div class="form-group">
                  <label>If No, wait for the page to reload and then proceed to the next page.</label>
              </div>
              <div class="form-group">
                  <label>Enter Postcode, click on FIND and select property from list.</label>
              </div>
            </div>
          </div>
          <div class="quote-section_box">
            <div class="col-md-4">
              <h5 class="title-lbl">Address Details:</h5>
              <div class="form-group">
                <label for="description">Flat number*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.sale_address.number" name="sale_number" placeholder="Building name/number" ng-class="{'has-error' : (!quoteForm.sale_number.$pristine && quoteForm.sale_number.$error.required) || (quoteForm.$submitted && quoteForm.sale_number.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.sale_number.$pristine && quoteForm.sale_number.$error.required) || (quoteForm.$submitted && quoteForm.sale_number.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
              <div class="form-group">
                <label>Town/City</label>
                <input type="text" class="form-control" ng-model ="quoteData.sale_address.city" name="sale_city" placeholder="Enter city" ng-class="{'has-error' : (!quoteForm.sale_city.$pristine && quoteForm.sale_city.$error.required) || (quoteForm.$submitted && quoteForm.sale_city.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.sale_city.$pristine && quoteForm.sale_city.$error.required) || (quoteForm.$submitted && quoteForm.sale_city.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="title-lbl">&nbsp;</h5>
              <div class="form-group">
                <label for="description">Street*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.sale_address.street" name="sale_street" placeholder="Enter street" ng-class="{'has-error' : (!quoteForm.sale_street.$pristine && quoteForm.sale_street.$error.required) || (quoteForm.$submitted && quoteForm.sale_street.$error.required)}"required >
                <span class="input-error-label" ng-show="(!quoteForm.sale_street.$pristine && quoteForm.sale_street.$error.required) || (quoteForm.$submitted && quoteForm.sale_street.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
              <div class="form-group">
                <label>Country*</label>
                <input type="text" class="form-control" ng-model ="quoteData.sale_address.country" name="sale_country" placeholder="Enter property country" ng-class="{'has-error' : (!quoteForm.sale_country.$pristine && quoteForm.sale_country.$error.required) || (quoteForm.$submitted && quoteForm.sale_country.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.sale_country.$pristine && quoteForm.sale_country.$error.required) || (quoteForm.$submitted && quoteForm.sale_country.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="title-lbl">&nbsp;</h5>
              <div class="form-group">
                <label for="description">Area*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.sale_address.area" name="sale_area" placeholder="Enter area" ng-class="{'has-error' : (!quoteForm.sale_area.$pristine && quoteForm.sale_area.$error.required) || (quoteForm.$submitted && quoteForm.sale_area.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.sale_area.$pristine && quoteForm.sale_area.$error.required) || (quoteForm.$submitted && quoteForm.sale_area.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
              <div class="form-group">
                <label>Postal Code*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.sale_address.zip" name="sale_zip" placeholder="Enter zip" ng-class="{'has-error' : (!quoteForm.sale_zip.$pristine && quoteForm.sale_zip.$error.required) || (quoteForm.$submitted && quoteForm.sale_zip.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.sale_zip.$pristine && quoteForm.sale_zip.$error.required) || (quoteForm.$submitted && quoteForm.sale_zip.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
            </div>
          </div>
          <div class="quote-section_box">
            <div class="col-md-6">
              <div class="form-group">
                <h5 class="title-lbl">Property Details (Purchase) England and Waves Only::</h5>
                <div class="form-group">
                  <label>Purchase Price</label>
                  <input type="text" class="form-control" ng-model ="quoteData.purchase_price" name="purchase_price" placeholder="Enter property price" ng-class="{'has-error' : (!quoteForm.purchase_price.$pristine && quoteForm.purchase_price.$error.required) || (quoteForm.$submitted && quoteForm.purchase_price.$error.required)}" rs-only required >
                  <span class="input-error-label" ng-show="(!quoteForm.purchase_price.$pristine && quoteForm.purchase_price.$error.required) || (quoteForm.$submitted && quoteForm.purchase_price.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
                </div>
                <div class="form-group">
                    <label>Is Property Address Known?</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model='purchase_value' value="true" ng-click="isPurchaseProperty = false"> Yes
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" ng-model='purchase_value' value="false" ng-click="isPurchaseProperty = true"> No
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" ng-model ="purchase_postcode" name="purchase_postcode" ng-disabled="isPurchaseProperty" placeholder="Enter postcode">
                    <button type="button" class="btn btn-primary" ng-click="findProperty(purchase_postcode)" ng-disabled="isPurchaseProperty">Find</button>
                </div>
              </div>
              <div class="form-group">
                <iframe style="margin-top: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.7457248012706!2d75.87380961453897!3d22.700507785117136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fce2c575d4e9%3A0xd86a0bab30a34f7!2sSixth+Sense+IT+Solutions!5e0!3m2!1sen!2sin!4v1512550754686" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="title-lbl">&nbsp;</h5>
              <div class="form-group">
                  <label>Please Enter Numbers only (No Comma or $ sign)</label>
              </div>
              <div class="form-group">
                  <label>If No, wait for the page to reload and then proceed to the next page.</label>
              </div>
              <div class="form-group">
                  <label>Enter Postcode, click on FIND and select property from list.</label>
              </div>
            </div>
          </div>
          <div class="quote-section_box">
            <div class="col-md-4">
              <h5 class="title-lbl">Address Details:</h5>
              <div class="form-group">
                <label for="description">Flat number*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.purchase_address.number" name="purchase_number" placeholder="Building name/number" ng-class="{'has-error' : (!quoteForm.purchase_number.$pristine && quoteForm.purchase_number.$error.required) || (quoteForm.$submitted && quoteForm.purchase_number.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.purchase_number.$pristine && quoteForm.purchase_number.$error.required) || (quoteForm.$submitted && quoteForm.purchase_number.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
              <div class="form-group">
                <label>Town/City</label>
                <input type="text" class="form-control" ng-model ="quoteData.purchase_address.city" name="purchase_city" placeholder="Enter city" ng-class="{'has-error' : (!quoteForm.purchase_city.$pristine && quoteForm.purchase_city.$error.required) || (quoteForm.$submitted && quoteForm.purchase_city.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.purchase_city.$pristine && quoteForm.purchase_city.$error.required) || (quoteForm.$submitted && quoteForm.purchase_city.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="title-lbl">&nbsp;</h5>
              <div class="form-group">
                <label for="description">Street*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.purchase_address.street" name="purchase_street" placeholder="Enter street" ng-class="{'has-error' : (!quoteForm.purchase_street.$pristine && quoteForm.purchase_street.$error.required) || (quoteForm.$submitted && quoteForm.purchase_street.$error.required)}"required >
                <span class="input-error-label" ng-show="(!quoteForm.purchase_street.$pristine && quoteForm.purchase_street.$error.required) || (quoteForm.$submitted && quoteForm.purchase_street.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
              <div class="form-group">
                <label>Country*</label>
                <input type="text" class="form-control" ng-model ="quoteData.purchase_address.country" name="purchase_country" placeholder="Enter property country" ng-class="{'has-error' : (!quoteForm.purchase_country.$pristine && quoteForm.purchase_country.$error.required) || (quoteForm.$submitted && quoteForm.purchase_country.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.purchase_country.$pristine && quoteForm.purchase_country.$error.required) || (quoteForm.$submitted && quoteForm.purchase_country.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="title-lbl">&nbsp;</h5>
              <div class="form-group">
                <label for="description">Area*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.purchase_address.area" name="purchase_area" placeholder="Enter area" ng-class="{'has-error' : (!quoteForm.purchase_area.$pristine && quoteForm.purchase_area.$error.required) || (quoteForm.$submitted && quoteForm.purchase_area.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.purchase_area.$pristine && quoteForm.purchase_area.$error.required) || (quoteForm.$submitted && quoteForm.purchase_area.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
              <div class="form-group">
                <label>Postal Code*:</label>
                <input type="text" class="form-control" ng-model ="quoteData.purchase_address.zip" name="purchase_zip" placeholder="Enter zip" ng-class="{'has-error' : (!quoteForm.purchase_zip.$pristine && quoteForm.purchase_zip.$error.required) || (quoteForm.$submitted && quoteForm.purchase_zip.$error.required)}" required >
                <span class="input-error-label" ng-show="(!quoteForm.purchase_zip.$pristine && quoteForm.purchase_zip.$error.required) || (quoteForm.$submitted && quoteForm.purchase_zip.$error.required)"><i class="fa fa-warning red-base" popover-trigger="'mouseenter'" uib-popover="This field is required."></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panal-body-footer">
        <a ui-sref="home"><button class="btn btn-default">Main Menu</button></a>
        <button class="btn btn-primary" ng-click="nextPanel(quoteForm.$valid, quoteForm)">Next</button>
      </div>
    </form>       
  </div>
</div>