<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Search - Instructions 	  
            <div class="pull-right">
                <!-- <button type="button" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i></button> -->
                <button type="button" class="btn btn-danger btn-xs" ng-click="closePanel()"><i class="fa fa-remove"></i></button>
            </div>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row show-hide-message" ng-show= successMsg>
            <div class="alert alert-success">{{successMsg}}</div>
        </div>
        <div class="row show-hide-message" ng-show= errorMsg>
            <div class="alert alert-danger">{{errorMsg}}</div>
        </div>
        <form name="advisorForm" id="advisorForm" novalidate>
            <div class="form-body">
                <div class="quote-section_box">
                    <div class="full_width">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="form-control" ng-model="quoteData.branch_name" name="branch_name">
                                    <option value="">Select</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <!-- <option ng-repeat="country in countryData" value="{{country.country_id}}">{{country.country_name}}</option> -->
                                </select>
                            </div>
                        </div>  
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" class="form-control" ng-model ="quoteData.applicant1_last_name" name="applicant1_last_name" placeholder="Applicant last name">
                        </div>
                        <div class="form-group">
                            <label>Conveyancer</label>
                            <select class="form-control" ng-model="quoteData.conveyancer_id" name="conveyancer_id">
                                <option value="">Select</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <!-- <option ng-repeat="country in countryData" value="{{country.country_id}}">{{country.country_name}}</option> -->
                            </select>
                        </div>        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="description">Post Code</label>
                            <input type="text" class="form-control" ng-model ="quoteData.address.zip" name="zip" placeholder="Post code">
                        </div>
                        <div class="form-group">
                            <label for="description">Type</label>
                            <input type="text" class="form-control" ng-model ="quoteData.address.street" name="street" placeholder="Street">
                        </div>        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="description">Case ID</label>
                            <input type="text" class="form-control" ng-model ="quoteData.quotation_id" name="quotation_id" placeholder="Case id">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" ng-model="quoteData.status" name="Status">
                                <option value="">Select</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <!-- <option ng-repeat="country in countryData" value="{{country.country_id}}">{{country.country_name}}</option> -->
                            </select>
                        </div>        
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panal-body-footer panal-body-footer_modified">
        <div class="pull-left">
            <button class="btn btn-primary" ng-click="createAdvisor(advisorForm.$valid, advisorForm)">Search</button>
            <button class="btn btn-primary" ng-click="createAdvisor(advisorForm.$valid, advisorForm)">Clear</button>
            <button class="btn btn-primary" ng-click="createAdvisor(advisorForm.$valid, advisorForm)">View All</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="closePanel()">Main Menu</button>
        </div>   
    </div>       
</div>
        