<div class="errors col-sm-8 col-sm-offset-2"></div>
<div class="login-outer">
	<div class="login-wrap">
		<div class="login-left striped-bg text-center">
			<a href class="logo-lg">
				<i class="fa fa-paper-plane"></i> broker conveyancing 
			</a>		
			<div class="slogan">An trading style of conveyancing alliance  </div>
		</div>
		<div class="login-right striped-bg">
			<div class="striped-bg text-center">
				<h1  style="color: #06c5ac;">Thank You!</h1>		
				<div class="slogan">Your account has been activated.</div>
				<div class="slogan"></div>
			</div>
			<div class=" row show-hide-meassage" ng-show="successMsg">
				<div class="alert alert-success">{{successMsg}}</div>
			</div>
			<br>
			<div class="row show-hide-meassage" ng-show="errorMsg">
				<div class="alert alert-danger">{{errorMsg}}</div>
			</div>
		</div>
	</div>
</div>