<div class="errors col-sm-8 col-sm-offset-2"></div>
<div id="register_page" class="login-outer">
	<div class="login-wrap">
		<div class="login-right striped-bg">
			<div class="heading">Create your Account</div>
			<div class="full_width">
				<div class="col-md-6">
					<h3>Registration Details</h3>
					<div class="input">
						<form class="form-horizontal" role="form" ng-submit="submit()">
							<input type="hidden" name="_token" value="6z7mfMW1GwKzG2sgsG9icqN1bfcJTooGwIOySP22">
							<div class="login-input-group">
								<input type="text" class="here form-control login_form_control" placeholder="FCA Number" aria-describedby="basic-addon2" name="name" value="">
							</div>
							<div class="login-input-group">
								<input type="email" class="here form-control login_form_control" placeholder="Forename" aria-describedby="basic-addon1" name="email" value="">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Surname" aria-describedby="basic-addon2" name="password">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Do you trade under a company name?" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
						</form>
					</div>
				
					<h3>Preferred Address</h3>
					<div class="input">
						<form class="form-horizontal" role="form" ng-submit="submit()">
							<input type="hidden" name="_token" value="6z7mfMW1GwKzG2sgsG9icqN1bfcJTooGwIOySP22">
							<div class="login-input-group">
								<input type="text" class="here form-control login_form_control" placeholder="Building name/number" aria-describedby="basic-addon2" name="name" value="">
							</div>
							<div class="login-input-group">
								<input type="email" class="here form-control login_form_control" placeholder="Street" aria-describedby="basic-addon1" name="email" value="">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Area" aria-describedby="basic-addon2" name="password">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Town/City" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="County" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Postcode" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<h3>User Details</h3>
					<div class="input">
						<form class="form-horizontal" role="form" ng-submit="submit()">
							<input type="hidden" name="_token" value="6z7mfMW1GwKzG2sgsG9icqN1bfcJTooGwIOySP22">
							<div class="login-input-group">
								<input type="text" class="here form-control login_form_control" placeholder="Work Phone Number" aria-describedby="basic-addon2" name="name" value="">
							</div>
							<div class="login-input-group">
								<input type="email" class="here form-control login_form_control" placeholder="Mobile Number" aria-describedby="basic-addon1" name="email" value="">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Email Address" aria-describedby="basic-addon2" name="password">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Re-type Email Address" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Password (Max 15)" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Confirm Password" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="Mortgages Per Month?" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
							<div class="login-input-group">
								<input type="password" class="here form-control login_form_control" placeholder="How did you hear about us?" aria-describedby="basic-addon2" name="password_confirmation">
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<h3>Verification</h3>
					<div class="input">
						<form class="form-horizontal" role="form" ng-submit="submit()">
							<input type="hidden" name="_token" value="6z7mfMW1GwKzG2sgsG9icqN1bfcJTooGwIOySP22">
							<div class="login-input-group">
								<input type="text" class="here form-control login_form_control" placeholder="Enter The Text" aria-describedby="basic-addon2" name="name" value="">
							</div>
							<div class="login-input-group">
								<input type="text" class="here form-control login_form_control" placeholder="Enter The Text" aria-describedby="basic-addon2" name="name" value="">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="full_width">
				<button type="submit" class="btn btn-default btn-lg submit">Signup</button>
				<h5><a href="#">Already have an Account?</a></h5>
			</div>
			<!-- <div class="rightFooter">
				<a href ng-click="loginPage()">Already have an Account?</a>
			</div> -->
		</div>
	</div>
</div>
