<div class="conter-wrapper">
	<div class="home-page">
		<div class="row">
			<div class="col-md-6 calendar-col">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">New Quote</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 home_box">
								<p>Create a new quote by selecting one of the option below</p>
								<div class="col-md-6">
									<div class="bg-warning icon-col striped-bg">
										<h3>PURCHASE</h3>
										<h4>Conveyancing</h4>
							        </div>
							        <div class="bg-info icon-col striped-bg">
										<h3>SALE</h3>
										<h4>Conveyancing</h4>
							        </div>
							        <div class="bg-danger icon-col striped-bg">
										<h3>SALE & PURCHASE</h3>
										<h4>Conveyancing</h4>
							        </div>
							    </div>
							    <div class="col-md-6">
							        <div class="bg-primary icon-col striped-bg">
							            <h3>REMORTGAGE</h3>
										<h4>Conveyancing</h4>
							        </div>
							        <div class="bg-success icon-col striped-bg">
										<h3>CASHBACK REMO</h3>
										<h4>Alternative to free legals</h4>
								        <div class="bg-default striped-bg text-col">
								            <h4>The alternative to free legals for mortgage products with a Cashback.</h4>
								        </div>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 calendar-col">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">My Quotes</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 home_box">
								<p>Instruct amend or delete your previous quotations.</p>
								<div class="col-md-12">
							        <div class="bg-danger icon-col striped-bg">
										<h3>VIEW MY QUOTES</h3>
										<h4>Click Here</h4>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 calendar-col">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">My Tracking</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 home_box">
								<p>Track the progress of your current instructions.</p>
								<div class="col-md-12">
							        <div class="bg-danger icon-col striped-bg">
										<h3>VIEW TRACKING</h3>
										<h4>Click Here</h4>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="calendar-col admin_features">
				<div class="panel panel-warning striped-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 home_box">
								<div class="col-md-12">
							        <div class="icon-col">
										<h3>ADMIN FEATURES</h3>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="calendar-col bottom_box">
			<div class="panel panel-info">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 home_box">
							<div class="col-md-3">
								<div class="bg-warning icon-col striped-bg">
									<h3>PANEL FIRMS</h3>
									<h4>Click Here</h4>
						        </div>
						    </div>
						    <div class="col-md-3">
						        <div class="bg-primary icon-col striped-bg">
						            <h3>MI AREA</h3>
									<h4>Click Here</h4>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>