
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 10px 20px;">
        <h3 class="panel-title"> User Detail		  
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="closePanel()"><i class="fa fa-remove"></i></button>
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12 form-body"> 
            <div class="row">  
                <div class="col-md-4">
                    <table class="table custom_table view_table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Source Details:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Branch:</b></td>
                                <td><span>123456</span></td>
                            </tr>
                            <tr>
                                <td><b>Quotation Id:</b></td>
                                <td><span>123456</span></td>
                            </tr>
                        </tbody>
                    </table>         
                </div>
                <div class="col-md-4">  
                    <table class="table custom_table view_table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Applicant 1 Details:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Title:</b></td>
                                <td><span>Mr.</span></td>
                            </tr>
                            <tr>
                                <td><b>First Name:</b></td>
                                <td><span>John</span></td>
                            </tr>
                            <tr>
                                <td><b>Last Name:</b></td>
                                <td><span>Waugh</span></td>
                            </tr>
                        </tbody>
                    </table>      
                </div>
                <div class="col-md-4">
                    <table class="table custom_table view_table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Applicant 2 Details:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Title:</b></td>
                                <td><span>Mr.</span></td>
                            </tr>
                            <tr>
                                <td><b>First Name:</b></td>
                                <td><span>Chris</span></td>
                            </tr>
                            <tr>
                                <td><b>Last Name:</b></td>
                                <td><span>Lee</span></td>
                            </tr>
                        </tbody>
                    </table>              
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table custom_table view_table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Address:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Flat No:</b></td>
                                <td><span>10</span></td>
                            </tr>
                            <tr>
                                <td><b>Street:</b></td>
                                <td><span>abc road</span></td>
                            </tr>
                            <tr>
                                <td><b>Area:</b></td>
                                <td><span>dummy</span></td>
                            </tr>
                            <tr>
                                <td><b>Town/City:</b></td>
                                <td><span>New york</span></td>
                            </tr>
                            <tr>
                                <td><b>Country:</b></td>
                                <td><span>USA</span></td>
                            </tr>
                            <tr>
                                <td><b>Postal Code:</b></td>
                                <td><span>112211</span></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-4">
                    <table class="table custom_table view_table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Additional Information:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Tenure for Purchase:</b></td>
                                <td><span>Lorem</span></td>
                            </tr>
                            <tr>
                                <td><b>Buy to Let:</b></td>
                                <td><span>Lorem</span></td>
                            </tr>
                            <tr>
                                <td><b>Following apply:</b></td>
                                <td><span>Lorem</span></td>
                            </tr>
                            <tr>
                                <td><b>Lenders:</b></td>
                                <td><span>Lorem</span></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-4">
                    <table class="table custom_table view_table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Introducer Fee:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Referral Fee / Commision (Ex VAT):</b></td>
                                <td><span>$200</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="title-lbl">Conveyancer:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Conveyancer/Location:</b></td>
                                <td><span>David/New York</span></td>
                            </tr>
                            <tr>
                                <td><b>Total Inc VAT & Disbursement:</b></td>
                                <td><span>$200</span></td>
                            </tr>
                            
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panal-body-footer">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="update()">Update</button>
            </div>
        </div>        
    </div>
</div>
   