
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 10px 20px;">
        <h3 class="panel-title"> User Detail		  
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="closePanel()"><i class="fa fa-remove"></i></button>
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12 form-body"> 
            <div class="row">  
                <uib-tabset class="primary-tabs inner_page_tab">
                    <uib-tab ng-attr-active="general">
                        <uib-tab-heading>Details</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-4">
                                <table class="table custom_table view_table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h5 class="title-lbl">Details:</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Portal Id:</b></td>
                                            <td><span>100050035</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Reference:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Status:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Instructed:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Introducer:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                    </tbody>
                                </table>             
                            </div>
                            <div class="col-md-4">
                                <table class="table custom_table view_table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h5 class="title-lbl">Quotation:</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Conveyar Amount:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>S&M Amount:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>User Amount:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Total exc. VAT:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>VAT:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Total Inc. VAT:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                            <div class="col-md-4">
                                <table class="table custom_table view_table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h5 class="title-lbl">Notes:</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea class="form-control" style="width: 100%;" rows="4"></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Instruction</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-4">
                                <table class="table custom_table view_table">
                                    <tbody>
                                        <tr>
                                            <td><b>Type:</b></td>
                                            <td><span>100050035</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Address:</b></td>
                                            <td><span>
                                                SB/712431-0001<br>
                                                SB/712431-0001<br>
                                                SB/712431-0001<br>
                                                SB/712431-0001<br>
                                            </span></td>

                                        </tr>
                                        <tr>
                                            <td><b>Town:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>County:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Postcode:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Country:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                    </tbody>
                                </table>             
                            </div>
                            <div class="col-md-4">
                                <table class="table custom_table view_table">
                                    <tbody>
                                        <tr>
                                            <td><b>Tenure:</b></td>
                                            <td><span>100050035</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Property Type:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Price:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Price Type:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Buying With Mortgage:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Mortgage Lender:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>New Build:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Buy to Let:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Ltd Co BTL:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Right To Buy:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                    </tbody>
                                </table>             
                            </div>
                            <div class="col-md-4">
                                <table class="table custom_table view_table">
                                    <tbody>
                                        <tr>
                                            <td><b>Gifted Deposit:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>H2B Equity Loan:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>H2B ISA:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Special Lender:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Mortgage to be redeemed:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Existing Mortgage Lender:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Mortgage Account No:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Mortgage Amount:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Buying/Selling agent:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Buying/Selling contact:</b></td>
                                            <td><span>SB/712431-0001</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </uib-tab>
                    <uib-tab >
                        <uib-tab-heading>Applicant</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Company Phone No.</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.company_contact_no" name="company_contact_no" placeholder="Company Contact No">
                                </div>
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.first_name" name="first_name" placeholder="First name" required>
                                    <p class="help-block" ng-show="(!advisorForm.first_name.$pristine && advisorForm.first_name.$error.required) || (advisorForm.$submitted && advisorForm.first_name.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.last_name" name="last_name" placeholder="Last name" required>
                                    <p class="help-block" ng-show="(!advisorForm.last_name.$pristine && advisorForm.last_name.$error.required) || (advisorForm.$submitted && advisorForm.last_name.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.email" name="email" placeholder="Email address" required>
                                    <p class="help-block" ng-show="(!advisorForm.email.$pristine && advisorForm.email.$error.required) || (advisorForm.$submitted && advisorForm.email.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>             
                            </div>
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.company_name" name="company_name" placeholder="Company name">
                                </div>
                                <div class="form-group">
                                    <label>Company Phone No.</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.company_contact_no" name="company_contact_no" placeholder="Company Contact No">
                                </div>
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.first_name" name="first_name" placeholder="First name" required>
                                    <p class="help-block" ng-show="(!advisorForm.first_name.$pristine && advisorForm.first_name.$error.required) || (advisorForm.$submitted && advisorForm.first_name.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.last_name" name="last_name" placeholder="Last name" required>
                                    <p class="help-block" ng-show="(!advisorForm.last_name.$pristine && advisorForm.last_name.$error.required) || (advisorForm.$submitted && advisorForm.last_name.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.email" name="email" placeholder="Email address" required>
                                    <p class="help-block" ng-show="(!advisorForm.email.$pristine && advisorForm.email.$error.required) || (advisorForm.$submitted && advisorForm.email.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>             
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab >
                        <uib-tab-heading>Conveyancer</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.company_name" name="company_name" placeholder="Company name">
                                    
                                </div>
                                <div class="form-group">
                                    <label>Company Phone No.</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.company_contact_no" name="company_contact_no" placeholder="Company Contact No">
                                </div>
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.first_name" name="first_name" placeholder="First name" required>
                                    <p class="help-block" ng-show="(!advisorForm.first_name.$pristine && advisorForm.first_name.$error.required) || (advisorForm.$submitted && advisorForm.first_name.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.last_name" name="last_name" placeholder="Last name" required>
                                    <p class="help-block" ng-show="(!advisorForm.last_name.$pristine && advisorForm.last_name.$error.required) || (advisorForm.$submitted && advisorForm.last_name.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.email" name="email" placeholder="Email address" required>
                                    <p class="help-block" ng-show="(!advisorForm.email.$pristine && advisorForm.email.$error.required) || (advisorForm.$submitted && advisorForm.email.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>             
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab >
                        <uib-tab-heading>Agent</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>            
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Milestones</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>           
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Process History</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>           
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Quote</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>           
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Fee Earner</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>           
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Account Manager</uib-tab-heading>
                        <div class="quote-section_box">
                            <div class="col-md-6">
                                <h5 class="title-lbl">Basic information:</h5>
                                <div class="form-group">
                                    <label>Advisor Code Id*</label>
                                    <input type="text" class="form-control" ng-model ="advisorData.uid" name="uid" placeholder="advisor code Id" ng-disabled="true" required>
                                    <p class="help-block" ng-show="(!advisorForm.uid.$pristine && advisorForm.uid.$error.required) || (advisorForm.$submitted && advisorForm.uid.$error.required)" style="color: #c70505;">This field is required</p>
                                </div>           
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="panal-body-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="update()">Update</button>
    </div>     
</div>
   